@font-face {
  font-family: ng; 
  src: local(나눔손글씨); 
  src: url(나눔손글씨.eot);  
  src: local(@), url(나눔손글씨.woff) format('woff'), 
       url(나눔손글씨.ttf); 
}
/*-------------------폰트--------------------*/
body {
font-family: '나눔손글씨 펜';
    background-color: #FFF
}

A:link {
    color: #ffffff;
    text-decoration: none;
}

A:visited {
    color: #ffffff;
    text-decoration: none;
}

A:active {
    color: #ffffff;
    text-decoration: none;
}

A:hover {
    color: #ffffff;
    text-decoration: none;
}

.logo {
    text-align: center;
    padding-top: 30px;
}

.wrap {
    margin: 30px auto 0 auto;
    width: 100%;
    display: flex;
    align-items: space-around;
    max-width: 1200px;
}

.tile {
	font-family: ng;
    width: 380px;
    height: 380px;
    margin: 10px;
    background-color: #CEFBC9;
    display: inline-block;
    background-size: cover;
    position: relative;
    cursor: pointer;
    transition: all 0.4s ease-out;
    box-shadow: 0px 35px 77px -17px rgba(0, 0, 0, 0.44);
    overflow: hidden;
    color: white;
    

}

.tile img {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    transition: all 0.4s ease-out;
}

.tile .text {
    /*   z-index:99; */
	
    position: absolute;
    padding: 30px;
    height: calc(100% - 60px);
    height: calc(100% - 60px);
	
	
}

.tile h1 {
font-family: '나눔손글씨 펜';
    font-weight: 100;
    margin: 0;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.tile h2 {
	
    font-weight: 50;
    margin: 20px 0 0 0;
    font-style: italic;
    transform: translateX(200px);
}

.tile p {
    font-weight: 100;
    margin: 20px 0 0 0;
    line-height: 25px;
    /*   opacity:0; */
    transform: translateX(-200px);
    transition-delay: 0.2s;
}

.animate-text {
    opacity: 0;
    transition: all 0.6s ease-in-out;
}

.tile:hover {
    /*   background-color:#99aeff; */
    box-shadow: 0px 35px 77px -17px rgba(0, 0, 0, 0.64);
    transform: scale(1.05);
}

.tile:hover img {
    opacity: 0.2;
}

.tile:hover .animate-text {
    transform: translateX(0);
    opacity: 1;
}

.dots {
    position: absolute;
    bottom: 20px;
    right: 30px;
    margin: 0 auto;
    width: 30px;
    height: 30px;
    color: currentColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

.dots span {
    width: 5px;
    height: 5px;
    background-color: currentColor;
    border-radius: 50%;
    display: block;
    opacity: 0;
    transition: transform 0.4s ease-out, opacity 0.5s ease;
    transform: translateY(30px);

}

.tile:hover span {
    opacity: 1;
    transform: translateY(0px);
}

.dots span:nth-child(1) {
    transition-delay: 0.05s;
}

.dots span:nth-child(2) {
    transition-delay: 0.1s;
}

.dots span:nth-child(3) {
    transition-delay: 0.15s;
}


@media (max-width: 1000px) {
    .wrap {
		
        flex-direction: column;
        width: 400px;
    }
}

/*------------------------------------메뉴--------------------------------*/
.menu {
	font-family: '나눔바른펜';
    text-align: center;
    position: relative;
    height: 20px;
    background: #2b2f3a;
    width: auto;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 1;
}

.menu > ul {
    position: relative;
    display: block;
    background: #090;
    width: 100%;
    z-index: 500;
}

.menu:after,
.menu > ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.menu.align-right > ul > li {
    float: right;
}

.menu.align-center ul {
    text-align: center;
}

.menu.align-center ul ul {
    text-align: left;
}

.menu > ul > li {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
}

.menu > ul > #menu-button {
    display: none;
}

.menu ul li a {
    display: block;
    font-family: Helvetica, sans-serif;
    text-decoration: none;
}

.menu > ul > li > a {
    font-size: 14px;
    font-weight: bold;
    padding: 15px 20px;
    color: #fff;
    text-transform: uppercase;
    -webkit-transition: color 0.25s ease-out;
    -moz-transition: color 0.25s ease-out;
    -ms-transition: color 0.25s ease-out;
    -o-transition: color 0.25s ease-out;
    transition: color 0.25s ease-out;
}

.menu > ul > li.sub > a {
    padding-right: 32px;
}

.menu > ul > li:hover > a {
    color: #ffffff;
}

.menu li.sub::after {
    display: block;
    content: "";
    position: absolute;
    width: 0;
    height: 0;
}

.menu > ul > li.sub::after {
    right: 10px;
    top: 20px;
    border: 5px solid transparent;
    border-top-color: #7a8189;
}

.menu > ul > li:hover::after {
    border-top-color: #7a8189;
}

.menu ul ul {
    position: absolute;
    left: -9999px;
    top: 70px;
    opacity: 0;
    -webkit-transition: opacity .3s ease, top .25s ease;
    -moz-transition: opacity .3s ease, top .25s ease;
    -ms-transition: opacity .3s ease, top .25s ease;
    -o-transition: opacity .3s ease, top .25s ease;
    transition: opacity .3s ease, top .25s ease;
    z-index: 1000;
}

.menu ul ul ul {
    top: 37px;
    padding-left: 5px;
}

.menu ul ul li {
    position: relative;
}

.menu > ul > li:hover > ul {
    left: auto;
    top: 44px;
    opacity: 1;
}

.menu.align-right > ul > li:hover > ul {
    left: auto;
    right: 0;
    opacity: 1;
}

.menu ul ul li:hover > ul {
    left: 170px;
    top: 0;
    opacity: 1;
}

.menu.align-right ul ul li:hover > ul {
    left: auto;
    right: 170px;
    top: 0;
    opacity: 1;
    padding-right: 5px;
}

.menu ul ul li a {
    width: 130px;
    border-bottom: 1px solid #eeeeee;
    padding: 10px 20px;
    font-size: 12px;
    color: #9ea2a5;
    background: #ffffff;
    -webkit-transition: all .35s ease;
    -moz-transition: all .35s ease;
    -ms-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease;
}

.menu.align-right ul ul li a {
    text-align: right;
}

.menu ul ul li:hover > a {
    background: #f2f2f2;
    color: #8c9195;
}

.menu ul ul li:last-child > a,
.menu ul ul li.last > a {
    border-bottom: 0;
}

.menu > ul > li > ul::after {
    content: '';
    border: 6px solid transparent;
    width: 0;
    height: 0;
    border-bottom-color: #ffffff;
    position: absolute;
    top: -12px;
    left: 30px;
}

.menu.align-right > ul > li > ul::after {
    left: auto;
    right: 30px;
}

.menu ul ul li.sub::after {
    border: 4px solid transparent;
    border-left-color: #9ea2a5;
    right: 10px;
    top: 12px;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    -webkit-transition: -webkit-transform 0.2s ease, right 0.2s ease;
}

.menu.align-right ul ul li.sub::after {
    border-left-color: transparent;
    border-right-color: #9ea2a5;
    right: auto;
    left: 10px;
}

.menu ul ul li.sub:hover::after {
    border-left-color: #ffffff;
    right: -5px;
    -webkit-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.menu.align-right ul ul li.sub:hover::after {
    border-right-color: #ffffff;
    border-left-color: transparent;
    left: -5px;
    -webkit-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

/*------------------------------------메뉴--------------------------------*/
.footer {
	font-family: '나눔바른펜';
    text-align: center;
    color: #000000;
    background-color:#ffffff;
    width: 100%;
    height: 80px;
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 100px;
}



/*------------------------------------이미지슬라이더--------------------------------*/



* {box-sizing:border-box}

body {font-family: Verdana,sans-serif;margin:0}


.slideshow-container {

  max-width: 1200px;
  position: relative;
  margin: auto;

}

.main_slideImg{

width: 100%; 

height: 300px; 

top : 100px;

}


.prev, .next {

  cursor: pointer;

  position: absolute;

  text-align : center;

  top: 0;

  top: 20%;

  width: 3%;

  padding: 16px;

  margin-top: -22px;

  color: white;

  font-weight: bold;

  font-size: 18px;

  transition: 0.6s ease;

  border-radius: 0 3px 3px 0;

  z-index: 100;

}



.next {

  right: 0;

  border-radius: 3px 0 0 3px;

}


.prev:hover, .next:hover {

  background-color: rgba(0,0,0,0.8);

}



.text1 {

  color: #f2f2f2;

  font-size: 15px;

  padding: 8px 12px;

  position: absolute;

  bottom: 8px;

  width: 100%;

  text-align: center;

}



.numbertext {

  color: #f2f2f2;

  font-size: 12px;

  padding: 8px 12px;

  position: absolute;

  top: 0;

}



.dot {

  cursor:pointer;

  height: 13px;

  width: 13px;

  margin: 0 2px;

  background-color: #bbb;

  border-radius: 50%;

  display: inline-block;

  transition: background-color 0.6s ease;

}

.active, .dot:hover {

  background-color: #717171;

}



.fade2 {

  -webkit-animation-name: fade;

  -webkit-animation-duration: 0.5s;

  animation-name: fade;

  animation-duration: 5s;

}

@-webkit-keyframes fade2 {

  from {opacity: .4}

  to {opacity: 1}

}

@keyframes fade2 {

  from {opacity: .4}

  to {opacity: 1}

}



@media only screen and (max-width: 300px) {

  .slprev, .slnext,.text {font-size: 11px}

}

	
	
	/*------------------------------------아이콘 메뉴--------------------------------*/
	
	
	
	.icon-bar {
	
    width: 100%;
    background-color: #FFFFFF;
    overflow: auto;
}

.icon-bar a {
	
    float: left;
    width: 20%;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: #353535;
    font-size: 36px;
   
}

.icon-bar a:hover {
	
    background-color: #CEFBC9;
}

.active12 {
    background-color: #ffffff ;
	
}


	/*-----------------------------------상단메뉴--------------------------------*/





#nav_menu ul {
	list-style-type:none;
	background-color:#090;
	padding:1px 20px 20px 1px;
	float:center;
}

#nav_menu ul li {
	display:inline;
	
	padding: 0px 20px 0px 20px;
	margin: 6px 0px 5px 0px;
	color:#ffffff;
	font-size:15pt;
}

#nav_menu ul li:first-child {
	border-left: none;
}

#nav_menu a {
	text-decoration:none;
	color:#ffffff
}

#nav_menu a:hover {
	color:#D4F4FA;
	border-bottom:3px solid #ffffff;
}

/*------------------------------------전체 페이지--------------------------------*/

#navbar {
  overflow: hidden;
  background-color: #ffffff;
  padding: 90px 10px;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}

#navbar a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

#navbar #logo {
  font-size: 35px;
  font-weight: bold;
  transition: 0.4s;
}

#navbar a:hover {
  background-color: #CEFBC9;
  color: black;
}

#navbar a.active {
  background-color: dodgerblue;
  color: white;
}

#navbar-right {
  float: right;
}

@media screen and (max-width: 580px) {
  #navbar {
    padding: 20px 10px !important;
  }
  #navbar a {
    float: none;
    display: block;
    text-align: left;
  }
  #navbar-right {
    float: none;
  }
}
* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
	position: relative;
	height: 400px;
	width: 400px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
	text-align: center;
	background-color: #222;
	color: white;
	padding-top: 2px;
	padding-right: 20px;
	padding-bottom: 2px;
	padding-left: 16px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
	float: right;
	width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
