* {
    box-sizing: border-box;
  }
  

  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }

  .header {
    padding: 80px;
    text-align: center;
    background-attachment: fixed;
    
    color: black;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  

  .header h1 {
    font-size: 40px;
  }
  

  .navbar {
    overflow: hidden;
    background-color: #333;
  }
  

  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    
  }
  

  .navbar a.right {
    float: right;
  }
  

  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  

  .row {  
    display: -ms-flexbox; 
    display: flex;
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
  }
  

  .side {
    -ms-flex: 30%; 
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
  }
  

  .main {   
    -ms-flex: 70%;
    flex: 70%;
    background-color: white;
    padding: 20px;
  }
  

  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  

  .footer {
    padding: 20px;
    text-align: center;
    background: #f1f1f1;
  }

  @media screen and (max-width: 700px) {
    .row {   
      flex-direction: column;
    }
  }
  

  @media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      width: 100%;
    }
  }


  * {
    box-sizing: border-box;
  }
  
  body {
    background-color: #f1f1f1;
    padding: 20px;
    font-family: Arial;
  }
  

  .main {
    max-width: 1000px;
    margin: auto;
  }
  
  h1 {
    font-size: 50px;
    word-break: break-all;
  }
  
  .row {
    margin: 8px -16px;
  }
  

  .row,
  .row > .column {
    padding: 8px;
  }
  

  .column {
    float: left;
    width: 25%;
  }
  
 
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
  .content {
    background-color: white;
    padding: 10px;
  }

  

  @media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
  }

  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }






  .container {
    position: relative;
    width: 50%;
  }
  
  .image {
    display: block;
    width: 200%;
    height: auto;
    height: 200px;
  }
  
  .overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #aaa;
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .5s ease;
  }
  
  .container:hover .overlay {
    bottom: 0;
    height: 100%;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }



  nav {
    position: relative;
    display: flex;
    width: 640px;
    margin: 4em auto;
  }
  nav a {
    display: block;
    width: 20%;
    padding: .75em 0;
    color: #333;
    text-decoration: none;
    text-align: center;
  }
  .nav-underline {
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 20%;
    height: 2px;
    background: #333;
    transition: all .3s ease-in-out;
  }
  nav a:nth-child(1).is-current ~ .nav-underline {
    left: 0;
  }
  nav a:nth-child(2).is-current ~ .nav-underline {
    left: 20%;
  }
  nav a:nth-child(3).is-current ~ .nav-underline {
    left: 40%;
  }
  nav a:nth-child(4).is-current ~ .nav-underline {
    left: 60%;
  }
  nav a:nth-child(5).is-current ~ .nav-underline {
    left: 80%;
  }
  nav a:nth-child(1):hover ~ .nav-underline {
    left: 0;
  }
  nav a:nth-child(2):hover ~ .nav-underline {
    left: 20%;
  }
  nav a:nth-child(3):hover ~ .nav-underline {
    left: 40%;
  }
  nav a:nth-child(4):hover ~ .nav-underline {
    left: 60%;
  }
  nav a:nth-child(5):hover ~ .nav-underline {
    left: 80%;
  }
  
